<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS" value="C:\Metaphorce\LOGS" />
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/mdfkwsv1-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/mdfkwsv1-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <appender name="RollingFileControllerError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/bbcontrollererror-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%-5p] [%t] [%d{ddMMyyyy HH:mm:ss}] [%c[%L]] %m %n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/bbcontrollererror-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="debug">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "mx.metaphorce.spring.blockbuster.ws" at INFO level -->
    <logger name="mx.metaphorce.spring.blockbuster.ws" level="info" additivity="true">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="mx.metaphorce.spring.blockbuster.ws.controller" level="error" additivity="true">
        <appender-ref ref="RollingFileControllerError" />
    </logger>

    <!-- LOG "mx.metaphorce.spring.blockbuster.ws" at DEBUG level -->
    <logger name="mx.metaphorce.spring.blockbuster.ws" level="debug" additivity="true">
        <appender-ref ref="Console" />
    </logger>

    <!-- LOG "org" at DEBUG level -->
    <logger name="org" level="debug" additivity="true">
        <appender-ref ref="Console" />
    </logger>

    <!-- LOG "org" at WARN level -->
    <logger name="org" level="warn" additivity="true">
        <appender-ref ref="RollingFile" />
    </logger>

    <logger name="springfox" level="debug" additivity="false">

    </logger>
</configuration>